# OSX
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
tags

# Vagrant
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log

# don't commit node_modules
node_modules

build/
openst-setup/

tmp/*
!tmp/.gitkeep

dist/*
